aiohttp
aiosignal

async-timeout
blinker  
blis
catalogue
certifi
charset-normalizer


confection
cymem
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
Flask
frozenlist
gunicorn
idna
importlib-metadata
inflect
itsdangerous
Jinja2
joblib

MarkupSafe
murmurhash
nltk
numpy
packaging
pathy
preshed
pydantic
pydantic_core
regex
requests
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
thinc



tzdata
urllib3

Werkzeug
zipp

